<nav id="menu">
	<ul>
		<!-- <li><%= link_to 'Bunny Lake Films', root_path %></li> -->
		<li class="up_bump_image"><%= link_to image_tag('bunny_trans_107h.png', width: 231, height: 107), root_path %></li>
		<!-- <li><%# link_to image_tag('bunny_trans_30_2.png'), root_path %></li> -->
		<li class="up_bump"><%= link_to 'About', services_path %></li>
		<li class="up_bump"><%= link_to 'Team', team_path %></li>
		<li class="up_bump">
			<%= link_to 'Work', works_path %>
			<ul>
				<% all_options = {} %>
				<% (all_options[:class] = 'selected') unless @category %>
					<li><%= link_to 'All', works_path, all_options %></li>
				<% Category.rank(:row_order).each do |cat| %>
					<% options = {} %>
					<% (options[:class] = 'selected') if @category and cat == @category %>
				    <li><%= link_to cat.name, category_works_path(cat), options %></li>
				<% end %>
			</ul>
		</li>
		<li class="up_bump"><%= link_to 'Contact', contact_path %></li>
	</ul>
</nav>
<div style="clear:both;"></div>

<br><br>

<!-- <nav id="menu">
    <div><%= link_to 'Bunny Lake Films', root_path %></div>
	<div><%= link_to 'Team', team_path %></div>
	<div><%= link_to 'Work', works_path %></div>
	<div><%= link_to 'Services', services_path %></div>
	<div class="last"><a href="#" class="mail_info">Contact</a></div>
	<div><a href="#" class="mail_info">Contact</a></div>
</nav>
<div style="clear:both;"></div> -->

