<body class="no-js page-home">

<div id="container" class="container fullsite">

	<div id="supra_menu">
		<%= render partial: 'menu' %>
		<div style="clear:both;"></div>
	</div>

  <hr>

	<div class="content" id="home">
	    <div class="bg-video videowrap">

			<% @front_images = ['FreedomTheater_01.jpg',
								'ALDO_02.jpg',
								'BodyEditions_05.jpg',
								'Buttercup_04.jpg',
								'Buttercup02.jpg',
								'Caryes_03.jpg',
								'Christophe_02.jpg',
								'DAddario_02.jpg',
								'Flux05.jpg',
								'Girl_Seaweed.jpg',
								'Janka_02.jpg',
								'Janka_03.jpg',
								'Joneses_cross.jpg',
								'Karen_YYY.jpg',
								'Karen2_YYY.jpg',
								'LanadelRay.jpg',
								'LeonMax_01.jpg',
								'Malandrino_02.jpg',
								'Malandrino_behind the scenes.jpg',
								'Medora_02.jpg',
								'Medora_05.jpg',
								'Paris_01.jpg',
								'Patricia_02.jpg',
								'PrincessSuperstar.jpg',
								'RunRunRun_01.jpg',
								'TN_Cover_03.jpg',
								'TN_Cover_screenshot.jpg',
								'walterSteding_01-2.jpg',
								'WalterSteding_02.jpg'].shuffle %>

			<% @front_images.each_with_index do |image_name, index| %>
				<div id="front_bg_<%= index %>" class="video-placeholder-img front-img" style="<%= 'display:none;' if index > 0 %>background:url('/system/front_images/<%= image_name %>') no-repeat center 175px fixed; -webkit-background-size: 100vw;-moz-background-size:100vw;-o-background-size: 100vw;background-size: 100vw;"></div>
			<% end %>

		</div>
	</div>
</div>

<%= render partial: 'mobile_index' %>

<%= render partial: 'footer' %>

</body>
