<body class="no-js page-productionservice">
<div class="container fullsite">

    <%= render partial: 'menu' %>

    <hr/>

<div class="content" id="production">


		<p id="super_about">
		Bunny Lake is a boutique production company based in New York which specializes in online branded content and commercials, documentaries and feature films, as well as consulting, financing and post production services.  Bunny Lake was founded by Celine Danhier, Rachel Dengiz, Vanessa Roworth and Aviva Wishnow, after years of collaboration in the industry, with the goal of bringing together their collective talents to create and produce high-end content.

		<br><br>

		Individually and collectively their work has premiered at Sundance, Berlin, and SXSW, and includes the successful documentaries, BLANK CITY, MEDORA and THE PUNK SINGER, the Emmy Nominated AOL web series PARK BENCH, numerous short form content which has appeared on online outlets such as Rolling Stone, Purple, Nowness, Pitchfork, Harper's Bazaar, Stereogum, and LOVE Magazine, and music videos and branded content, whose clients include M.A.C Cosmetics, ALDO, Locale, D'Addario, Dior, Catherine Malandrino, Marina Rinaldi, Universal Music Group, Christies, Digital Graffiti, Verameat, Albright Fashion Library, The Museum of FIT, and The Culture Project.
		<br><br>


		Bunny Lake is excited to work on projects on any level, whether it's creative direction or taking on a project from inception through delivery, we also offer individual feature and commercial services in production, post production and delivery, as well as consultation.
		<br><br>


		Having built incredibly strong relationships within the industry we intend to collaborate with directors, editors, musicians, post creatives and designers to help meet your needs on every level of production.
		<br><br>


		Reach out to us and find out more. We play nice.
		</p>



    <div class="head">
        <div class="col1">
            <!-- <p>Bunny Lake Films is a <br>New York based production<br>company, &nbsp;founded in 2014.</p> -->
        </div>
        <div class="col2">
			
			<br>
			
            <p style="text-align:justify;text-justify: inter-word;">

			</p>


            <!-- <p><b>Lorem ipsum dolor sit amet</b> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p> -->

            <!-- <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
        </div>
        <!-- <div class="col3">
            <img src="/img/prod_headpic_col3.png" width="160" height="82" />
            <p>We work in collaboration with <a href="http://www.google.com">XYZ</a> and<br/><a href="http://www.google.com">XYZ</a>.</p>
        </div> -->
        <div style="clear:both;"></div>
    </div>
    <div style="clear:both;"></div>

    <!-- <div class="folio" id="brooklyn">
        <div class="title">Brooklyn</div>

        <div class="thumblist prod">

            <div class="thumb" data-idx="0">
                <a href="system/service_images/ALDO_02.png" data-lightbox="lappi_1">
					<%= image_tag('ALDO_02_small_thumb.png') %>
                </a>
            </div>

            <div class="thumb" data-idx="1">
                <a href="system/service_images/ALDO_02.jpg" data-lightbox="lappi_1">
                    <%= image_tag('ALDO_02_small_thumb.png') %>
                </a>
            </div>

            <div class="thumb third_col" data-idx="2">
                <a href="system/service_images/ALDO_02.jpg" data-lightbox="lappi_1">
                    <%= image_tag('ALDO_02_small_thumb.png') %>
                </a>
            </div>

            <div class="thumb fullwidth_last" data-idx="3">
                <a href="system/service_images/ALDO_02.jpg" data-lightbox="lappi_1">
                    <%= image_tag('ALDO_02_small_thumb.png') %>
                </a>
            </div>

            <div class="thumb" data-idx="4">
                <a href="system/service_images/ALDO_02.jpg" data-lightbox="lappi_1">
                    <%= image_tag('ALDO_02_small_thumb.png') %>
                </a>
            </div>

            <div class="thumb third_col" data-idx="5">
                <a href="system/service_images/ALDO_02.jpg" data-lightbox="lappi_1">
                    <%= image_tag('ALDO_02_small_thumb.png') %>
                </a>
            </div>

            <div class="thumb" data-idx="6">
                <a href="system/service_images/ALDO_02.jpg" data-lightbox="lappi_1">
                    <%= image_tag('ALDO_02_small_thumb.png') %>
                </a>
            </div>

            <div class="thumb fullwidth_last" data-idx="7">
                <a href="system/service_images/ALDO_02.jpg" data-lightbox="lappi_1">
                    <%= image_tag('ALDO_02_small_thumb.png') %>
                </a>
            </div>

            <div class="thumb third_col" data-idx="8">
                <a href="system/service_images/ALDO_02.jpg" data-lightbox="lappi_1">
                    <%= image_tag('ALDO_02_small_thumb.png') %>
                </a>
            </div>

            <div class="thumb" data-idx="9">
                <a href="system/service_images/ALDO_02.jpg" data-lightbox="lappi_1">
                    <%= image_tag('ALDO_02_small_thumb.png') %>
                </a>
            </div>

            <div class="thumb" data-idx="10">
                <a href="system/service_images/ALDO_02.jpg" data-lightbox="lappi_1">
                    <%= image_tag('ALDO_02_small_thumb.png') %>
                </a>
            </div>

            <div class="thumb third_col fullwidth_last" data-idx="11">
                <a href="system/service_images/ALDO_02.jpg" data-lightbox="lappi_1">
                    <%= image_tag('ALDO_02_small_thumb.png') %>
                </a>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>

    <div class="folio" id="brooklyn">
        <div class="title">France</div>

        <div class="thumblist prod">

            <div class="thumb" data-idx="0">
                <a href="system/service_images/ALDO_02.png" data-lightbox="lappi_1">
					<%= image_tag('ALDO_02_small_thumb.png') %>
                </a>
            </div>

            <div class="thumb" data-idx="1">
                <a href="system/service_images/ALDO_02.jpg" data-lightbox="lappi_1">
                    <%= image_tag('ALDO_02_small_thumb.png') %>
                </a>
            </div>

            <div class="thumb third_col" data-idx="2">
                <a href="system/service_images/ALDO_02.jpg" data-lightbox="lappi_1">
                    <%= image_tag('ALDO_02_small_thumb.png') %>
                </a>
            </div>

            <div class="thumb fullwidth_last" data-idx="3">
                <a href="system/service_images/ALDO_02.jpg" data-lightbox="lappi_1">
                    <%= image_tag('ALDO_02_small_thumb.png') %>
                </a>
            </div>

            <div class="thumb" data-idx="4">
                <a href="system/service_images/ALDO_02.jpg" data-lightbox="lappi_1">
                    <%= image_tag('ALDO_02_small_thumb.png') %>
                </a>
            </div>

            <div class="thumb third_col" data-idx="5">
                <a href="system/service_images/ALDO_02.jpg" data-lightbox="lappi_1">
                    <%= image_tag('ALDO_02_small_thumb.png') %>
                </a>
            </div>

            <div class="thumb" data-idx="6">
                <a href="system/service_images/ALDO_02.jpg" data-lightbox="lappi_1">
                    <%= image_tag('ALDO_02_small_thumb.png') %>
                </a>
            </div>

            <div class="thumb fullwidth_last" data-idx="7">
                <a href="system/service_images/ALDO_02.jpg" data-lightbox="lappi_1">
                    <%= image_tag('ALDO_02_small_thumb.png') %>
                </a>
            </div>

            <div class="thumb third_col" data-idx="8">
                <a href="system/service_images/ALDO_02.jpg" data-lightbox="lappi_1">
                    <%= image_tag('ALDO_02_small_thumb.png') %>
                </a>
            </div>

            <div class="thumb" data-idx="9">
                <a href="system/service_images/ALDO_02.jpg" data-lightbox="lappi_1">
                    <%= image_tag('ALDO_02_small_thumb.png') %>
                </a>
            </div>

            <div class="thumb" data-idx="10">
                <a href="system/service_images/ALDO_02.jpg" data-lightbox="lappi_1">
                    <%= image_tag('ALDO_02_small_thumb.png') %>
                </a>
            </div>

            <div class="thumb third_col fullwidth_last" data-idx="11">
                <a href="system/service_images/ALDO_02.jpg" data-lightbox="lappi_1">
                    <%= image_tag('ALDO_02_small_thumb.png') %>
                </a>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>


    <div class="folio" id="brooklyn">
        <div class="title">Michigan</div>

        <div class="thumblist prod">

            <div class="thumb" data-idx="0">
                <a href="system/service_images/ALDO_02.png" data-lightbox="lappi_1">
					<%= image_tag('ALDO_02_small_thumb.png') %>
                </a>
            </div>

            <div class="thumb" data-idx="1">
                <a href="system/service_images/ALDO_02.jpg" data-lightbox="lappi_1">
                    <%= image_tag('ALDO_02_small_thumb.png') %>
                </a>
            </div>

            <div class="thumb third_col" data-idx="2">
                <a href="system/service_images/ALDO_02.jpg" data-lightbox="lappi_1">
                    <%= image_tag('ALDO_02_small_thumb.png') %>
                </a>
            </div>

            <div class="thumb fullwidth_last" data-idx="3">
                <a href="system/service_images/ALDO_02.jpg" data-lightbox="lappi_1">
                    <%= image_tag('ALDO_02_small_thumb.png') %>
                </a>
            </div>

            <div class="thumb" data-idx="4">
                <a href="system/service_images/ALDO_02.jpg" data-lightbox="lappi_1">
                    <%= image_tag('ALDO_02_small_thumb.png') %>
                </a>
            </div>

            <div class="thumb third_col" data-idx="5">
                <a href="system/service_images/ALDO_02.jpg" data-lightbox="lappi_1">
                    <%= image_tag('ALDO_02_small_thumb.png') %>
                </a>
            </div>

            <div class="thumb" data-idx="6">
                <a href="system/service_images/ALDO_02.jpg" data-lightbox="lappi_1">
                    <%= image_tag('ALDO_02_small_thumb.png') %>
                </a>
            </div>

            <div class="thumb fullwidth_last" data-idx="7">
                <a href="system/service_images/ALDO_02.jpg" data-lightbox="lappi_1">
                    <%= image_tag('ALDO_02_small_thumb.png') %>
                </a>
            </div>

            <div class="thumb third_col" data-idx="8">
                <a href="system/service_images/ALDO_02.jpg" data-lightbox="lappi_1">
                    <%= image_tag('ALDO_02_small_thumb.png') %>
                </a>
            </div>

            <div class="thumb" data-idx="9">
                <a href="system/service_images/ALDO_02.jpg" data-lightbox="lappi_1">
                    <%= image_tag('ALDO_02_small_thumb.png') %>
                </a>
            </div>

            <div class="thumb" data-idx="10">
                <a href="system/service_images/ALDO_02.jpg" data-lightbox="lappi_1">
                    <%= image_tag('ALDO_02_small_thumb.png') %>
                </a>
            </div>

            <div class="thumb third_col fullwidth_last" data-idx="11">
                <a href="system/service_images/ALDO_02.jpg" data-lightbox="lappi_1">
                    <%= image_tag('ALDO_02_small_thumb.png') %>
                </a>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div> -->
	

</div>

</div>

</div>
</div>

<%= render partial: 'mobile_index' %>

<%= render partial: 'footer' %>

</body>