<ul class="work-list  <%= @work ? 'hidden' : nil %>">
  <li>
    <div class="thumb video-thumb video-thumb-mobile" data-video-code="<%= work.video_code %>" data-video-title="<%= work.title %>">
      <div class='playarrow'></div>
      <div class="videowrap">
        <div class="video-img-box">
          <div class="padded-img">
            <%= image_tag_from_asset_server(work) %>
          </div>
          <%= work.title %>
        </div>
    </div>
  </li>
</ul>
<% if @work %>
<script>
  $(document).ready(function(){
    $('.playarrow')[0].click()
  })
</script>
<% end %>
