<body class="no-js page-stage">

<div class="container fullsite">

    <%= render partial: 'base/menu' %>

    <hr/>

	<%= render partial: 'cat_menu' %>

<div class="content" id="stage">

    <div id="videoFrame">
        <iframe id="video-player" data-src="" width="100%" height="100%" frameborder="0"
                byline="0" color="ce3229" title="0" badge="0" autoplay="1" webkitallowfullscreen mozallowfullscreen allowfullscreen>
		</iframe>
    </div>

    <div class="folio" id="stagethumbs">
      <div class="thumblist stage clearfix">
      <% if @work_status %>
        <% @works.each_with_index do |work, index| %>
          <%= render partial: 'work_item_detailed', locals: {work: work, index: index} %>
        <% end %>
      <% else %>
  			<% @works.each_with_index do |work, index| %>
          <%= render partial: 'work_item', locals: {work: work, index: index} %>
  			<% end %>
      <% end  %>

        </div>
        <div style="clear:both;"></div>
    </div>
</div>

</div>
</div>

<%= render partial: 'base/mobile_index' %>

<%= render partial: 'base/footer' %>

</body>
