<%= form_for([:admin, @work_status]) do |f| %>
  <% if @work_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work_status.errors.count, "error") %> prohibited this work_status from being saved:</h2>

      <ul>
      <% @work_status.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="center">
    <h3 class="app-headline"><%= controller.action_name.capitalize %></h3>
    <%= f.label :name %>
  	<div class="field"><%= f.text_field :name, placeholder: 'Name' %></div>

    <div class="actions">
      <%= f.submit class: 'btn-primary'%>
    </div>
  </div>
<% end %>
