<%= form_for([:admin, @work]) do |f| %>
  <% if @work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<h3 class='app-headline'>Work Info</h3>

	<%= f.label :title %>
	<%= f.text_field :title, placeholder: 'Title' %>

  <%= f.label :category_id %>
  <%= f.collection_select :category_id, Category.all.order(:name), :id, :name, {include_blank: true, selected: @work.category.try(:id)}, {class: 'select_small_field'} %>

  <%= f.label :work_status_id %>
  <%= f.collection_select :work_status_id, WorkStatus.all.order(:name), :id, :name, {include_blank: true, selected: @work.work_status.try(:id)}, {class: 'select_small_field'} %>

	<%= f.label :host_id, 'Host' %>
	<%= f.select :host_id, Work::HOST_CODE_LABELS, {}, class: 'select_small_field' %>

	<%= f.label :still_code %>
	<%= f.text_field :still_code, placeholder: 'Still Code (Vimeo only)' %>

	<%= f.label :video_code %>
	<%= f.text_field :video_code, placeholder: 'Video Code' %>

	<%= f.label :description %>
	<%= f.text_area :description %>

	<%= f.label :mobile %>
	<%= f.select :mobile, [['On', true], ['Off', false]], {}, class: 'select_small_field' %>

	<div class="actions">
		<%= f.submit :class => 'btn-primary' %>
	</div>

<% end %>
