<%= form_for([:admin, @category]) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<h3 class='app-headline'>Category Info</h3>

	<%= f.label :name %>
	<div class="field"><%= f.text_field :name, placeholder: 'Name' %></div>
	<br>
	<div class="actions">
		<%= f.submit :class => 'btn-primary' %>
	</div>
<% end %>
